# Database Configuration
DATABASE_URL=postgresql://postgres:iter8password&$123@db.eousczgdnqjsnjnkcswq.supabase.co:5432/postgres

# Supabase Configuration
SUPABASE_URL=https://eousczgdnqjsnjnkcswq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVvdXNjemdkbnFqc25qbmtjc3dxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI2NDA5NjIsImV4cCI6MjA2ODIxNjk2Mn0.MbOlaNtuJl-V5gFRjB8zk1AazXkIRM0HkahWT2Fjxxk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVvdXNjemdkbnFqc25qbmtjc3dxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MjY0MDk2MiwiZXhwIjoyMDY4MjE2OTYyfQ.N3TSZ3giUJvQRY7sT4Vjnu-iVWke3KBtTEZ2OXKFWlU


# Application Configuration
DEBUG=True
ENVIRONMENT=development
LOG_LEVEL=INFO

# Server Configuration
HOST=0.0.0.0
PORT=8000

# Security
SECRET_KEY=iter8team
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30 